/* ブラウザがそれぞれ持っているCSSをリセットするための記述 */
* {
  margin: 0;
  padding: 0;
}
.head{
background-image: url(img/mv.jpg);
width: 100%; /* 横幅いっぱい */
height: 400px; /* 高さ400px */
margin-top: 20px;
margin-bottom: 20px;
margin-bottom: 50px;
}
.main1{
margin: 0 auto; /* 中央寄せ（左右に余白がないとできない） */
margin-top: 50px;
margin-bottom: 30px;
}